html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: darkgray;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
}
#phone {
    width: 373px;
    height: 763px;
    background-image: url(../images/phone.png);
    background-size: cover;
}
#phone #display {
    margin-top: 94px;
    margin-left: 27px;
    width: 322px;
    height: 573px;
    background-color: black;
}
#app-button, #call-button {
    position: fixed;
    right:0;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
#call-button {
    bottom: 0;
}
#app-button {
    bottom: 55px;
}